[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["cd apps/api && npx prisma generate --schema=src/prisma/schema.prisma && npm run build"]

[start]
cmd = "cd apps/api && node dist/index.js"
